.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 16px;
}

.card {
  width: 230px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin: 0 0 12px;
  font-size: 20px;
  text-align: center;
}

.card p {
  margin: 4px 0;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  color: red;
}
.QR_code {
  margin-left: 16px;
}
